{% extends 'blog/base.html' %}

{% block main_area %}
                   <h1>BLOG</h1>

               {% if post_list.exists %}
                   {% for p in post_list %}
                <!-- Blog post-->
               <div class="card mb-4">
                    {% if p.head_image %}
                        <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} Card image cap" />
                    {% else %}
                        <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt=random_image">
                    {% endif %}
                    <div class="card-body">
                        <div class="small text-muted">{{ p.created_at }}</div>
                        <h2 class="card-title h4">{{ p.title }}</h2>
                        {% if p.hook_text %}
                            <h5 class="text-muted">{{ p.hook_text }}</h5>
                        {% endif %}
                        <p class="card-text">{{ p.content | truncatewords:45 }}</p>
                        <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
                    </div>
                        <div class="card-footer text-muted">
                            Posted by <a href="#">작성자명 쓸 위치 (개발예정)</a>
                        </div>
                    </div>
                   {% endfor %}

               {% else %}
                   <h3>아직 게시물이 없습니다.</h3>
               {% endif %}

                 <!-- Pagination-->
                 <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center my-4">
                        <li class="page-item"><a class="page-link" href="#">&larr; Newer</a></li>
                        <li class="page-item"><a class="page-link" href="#">Older &rarr;</a></li>
                    </ul>
                 </nav>

{% endblock %}