{% extends 'blog/base.html' %}

{% block main_area %}
                   <h1>BLOG
                       {% if category %}  <span class="badge badge-secondary">{{ category }}</span>{% endif %}
                       {% if tag %}  <span class="badge badge-light"><i class="fas fa-tags"></i>{{ tag }} ({{ tag.post_set.count }})</span>{% endif %}</h1>

               {% if post_list.exists %}
                   {% for p in post_list %}
                <!-- Blog post-->
               <div class="card mb-4" id="post-{{ p.pk }}">
                    {% if p.head_image %}
                        <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} Card image cap" />
                    {% else %}
                        <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt=random_image">
                    {% endif %}
                    <div class="card-body">
                        {% if p.category %}
                        <span class="badge badge-secondary float-right">{{ p.category }}</span>
                        {% else %}
                        <span class="badge badge-secondary float-right">미분류</span>
                        {% endif %}
                        <div class="small text-muted">{{ p.created_at }}</div>
                        <h2 class="card-title h4">{{ p.title }}</h2>
                        {% if p.hook_text %}
                            <h5 class="text-muted">{{ p.hook_text }}</h5>
                        {% endif %}
                        <p class="card-text">{{ p.content | truncatewords:45 }}</p>

                        {% if p.tags.exists %}
                            <i class="fas fa-fags"></i>
                            {% for tag in p.tags.iterator %}
                                <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag }}</span></a>
                                {% endfor %}
                            <br />
                            <br />
                        {% endif %}

                        <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
                    </div>
                        <div class="card-footer text-muted">
                            Posted by <a href="#">{{ p.auther | upper }}</a>
                        </div>
                    </div>
                   {% endfor %}

               {% else %}
                   <h3>아직 게시물이 없습니다.</h3>
               {% endif %}

                 <!-- Pagination-->
                 <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center my-4">
                        <li class="page-item"><a class="page-link" href="#">&larr; Newer</a></li>
                        <li class="page-item"><a class="page-link" href="#">Older &rarr;</a></li>
                    </ul>
                 </nav>

{% endblock %}